
@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px; /* Border radius cho thanh cuộn */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
  border-radius: 10px; /* Border radius cho thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu của thanh cuộn khi hover */
}

